<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<link href="css/bootstrap.css" rel="stylesheet" />
<link th:href="@{css/form.css}" rel='stylesheet' />
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII" />
<title th:text="#{message.resetPassword}"></title>

</head>
<body>
	<div class="container">
		<div class="row">
			<h1 th:text="#{message.resetPassword}"></h1>
			<div>
				<br />
				<form  class="form-horizontal" id="signin" th:action="@{/user/resetPassword}" method="post">
					<div class="form-group">
						<label for="email" th:text="#{label.user.email}"></label>
						<input id="email" type="email" name="email" class="form-control"/>
					</div>
				
					<button type="submit" th:text="#{message.resetPassword}"></button>
				</form>
			</div>

			<br /> <a th:href="@{/user/registration}"
				th:text="#{label.form.loginSignUp}"> </a> <br /> <a
				th:href="@{/login}" th:text="#{label.form.loginLink}"> </a>

		</div>
	</div>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>
