<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/layout">
<head>
    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet" />
    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
    </style>
</head>
	<body>	
		<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">
			<div id="container">

		  		<div class="jumbotron">
					<h3 class="text-muted">Welcome, <span th:text="${gigauser.username}">name!</span></h3>
					<form method="GET" th:action="@{/loadSearchRibs}">
						<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						<button class="btn btn-sm btn-primary badge custom" th:text="#{giga.searchribs}"></button>
					</form>			
					<form method="GET" th:action="@{/listProviders}">
						<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						<button class="btn btn-sm btn-primary badge custom" th:text="#{giga.viewProviders}"></button>
					</form>	
					<form method="GET" th:action="@{/postRib}">
						<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						<button class="btn btn-sm btn-primary badge custom" th:text="#{giga.PostRib}"></button>
					</form>						
					<form method="POST" th:action="@{/signout}">
						<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						<button class="btn btn-sm btn-primary badge custom" th:text="#{giga.signout}">Sign Out</button>
					</form>	
											
				</div>
			</div>

		</main>
	</body>
</html>
