<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Login page</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet" />
    </head>

    <body>
 


        <div class="container">

			<form  class="form-signin" id="signin" th:action="@{/signin/authenticate}" method="post">

				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>

				<h2 class="form-signin-heading">Please sign in</h2>
				<div class="formInfo">
			  		<div class="error" th:if="${param.error eq 'bad_credentials'}">
			  			Your sign in information was incorrect.
			  			Please try again or <a th:href="@{/signup}">sign up</a>.
			  		</div>
			  		<div class="error" th:if="${param.error eq 'multiple_users'}">
			  			Multiple local accounts are connected to the provider account.
			  			Try again with a different provider or with your username and password.
			  		</div>
				</div>
				<fieldset>
					<label for="login" class="sr-only">Username</label>
					<input id="login" name="username" type="text" class="form-control" placeholder="User Name" required="required" autofocus="autofocus"></input><br/>
					<label for="password" class="sr-only">Password</label>
					<input id="password" name="password" type="password" class="form-control" placeholder="Password" required="required"></input>
				</fieldset>
				<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{giga.signin}"></button>
				
				<p>Or you can <a th:href="@{/signup}">signup</a> with a new account.</p>

            <p>Sign in with:</p>
            <table style="border-collapse: separate; border-spacing: 2px">
                <tr>
                    <td><a th:href="@{/auth/linkedin}" class="ml btn btn-block btn-social btn-lg btn-linkedin"><i class="fa fa-linkedin"></i>LinkedIn</a></td>
                    <td><a th:href="@{/auth/facebook}" class="ml btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook"></i>Facebook</a></td>
                </tr>
                <tr>
                    <td><a th:href="@{/auth/github}" class="ml btn btn-block btn-social btn-lg btn-github"><i class="fa fa-github"></i>Github</a></td>
                    <td><a th:href="@{/auth/google(scope='profile')}" class="ml btn btn-block btn-social btn-lg btn-google-plus"><i class="fa fa-google-plus"></i>Google+</a></td>
                </tr>
            </table>
			</form>
            <div th:include="fragments/exception :: errorInfo"/>

        </div><!-- /.container -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />

    </body>
</html>