<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/layout">
<head>
	
	<link href='css/gigadiv.css' rel='stylesheet' />
	<link href='css/form.css' rel='stylesheet' />
    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin:  10px;
			padding: 10px;
			height:  900px;
			width:   600px;
		}
	    #view-source {
			position: fixed;
			display: block;
			right: 0;
			bottom: 0;
			margin-right: 40px;
			margin-bottom: 40px;
			z-index: 900;
	    }		
    </style>
	
	<script src="js/gigafile.js"></script>
	
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">		
<div id="container" class="card">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">		
		
			<h2 th:text="#{giga.appname}"></h2>	
			<h5 th:text="#{giga.INeedSomeoneTo}"></h5>
			
			<form id="file-form" role="form" method="POST" 
				enctype="multipart/form-data" th:object="${rib}" 
				th:action="@{/confirmSubmitRib}" class="form-horizontal">
				
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" /> 
				
				<div class="form-group">	
					<div class="col-sm-6">																			
			        <button type="submit" name="save" th:text="#{giga.ConfirmPost}" class="form-control btn btn-sm btn-primary badge">Post</button>
			        </div>	
			    </div>
			    				
				<div class="form-group">
					<div class="col-sm-5">
						<input list="categories" th:field="*{tags[0]?.id}" 
							class="form-control" placeholder="!Help me lift a.." />
						<datalist id="categories">
							<option value="!Help me lift a.." />
							<option value="!Move a.." />
							<option value="!Deliver.." />
							<option value="!Give me a ride to.." />
							<option value="!Fix my.." />
							<option value="!Clean my.." />
							<option value="!Work on my crew.." />
						</datalist>	
					</div><div class="col-sm-7">
						<input type="text" th:field="*{tags[0]?.name}" 
							class="form-control" id="title" name="title" />
					</div>
				</div>
				<div class="form-group">	
					<div class="col-sm-12">
						<div class="col-sm-12">
							<a href="#" onclick="getLocation()"><i class="material-icons">room</i>Current Location</a>
							<div id="displayLocation">
								<div th:if="${rib.formattedAddress}">
									<span th:text="${rib.formattedAddress}"></span>
								</div>
							</div>
							<input type="hidden" th:field="${loc.latitude}" id="loclat"/>
							<input type="hidden" th:field="${loc.longitude}" id="loclon"/>	
							<input type="hidden" th:field="${rib.formattedAddress}" id="formattedAddress"/>
						</div>				
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea th:field="*{description}" class="form-control" th:placeholder="#{giga.AddDetails}"></textarea> 
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" th:field="*{title}" class="form-control" th:placeholder="#{giga.AdditionalBangTags}" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-4" for="timeSpan" th:text="#{giga.EstimatedTime}"></label>
					<div class="col-sm-3">
						<input type="number" id="timeSpan" th:field="*{estimatedTime.timeSpan}" 
							class="form-control" size="1" placeholder="1"/>
					</div>
					<div class="col-sm-5">
					  <input list="timeMetrics" th:field="*{estimatedTime.timeMetric}" class="form-control" placeholder="mins" />
					
					  <datalist id="timeMetrics">
					    <option value="mins" />
					    <option value="hours" />
					    <option value="days" />
					  </datalist>							
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4" for="wage" th:text="#{giga.BasePay}"></label>
					<div class="col-sm-3">
						<input id="wage" type="text" th:field="*{basePay.wage}" class="form-control"/>
					</div>
					<label class="col-sm-1" for="per" th:text="#{giga.Per}"></label>
					<div class="col-sm-4">
						<input list="per" th:field="*{basePay.per}" class="form-control" placeholder="job" />
						<datalist id="per">
							<option value="job" />
							<option value="item" />
							<option value="hour" />
						</datalist>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden;float: left;">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput1" name="fileInput1" />
						</div>
						<a href="#" onclick="chooseFile(1)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>
					</div><div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput2" name="fileInput2" />
						</div>
						<a href="#" onclick="chooseFile(2)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																				
					</div><div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput3" name="fileInput3" />
						</div>							
						<a href="#" onclick="chooseFile(3)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																					
					</div><div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput4" name="fileInput4" />
						</div>									
						<a href="#" onclick="chooseFile(4)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																					
					</div><div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput5" name="fileInput5" />
						</div>									
						<a href="#" onclick="chooseFile(5)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																				
					</div>
				</div>

				
				<div th:if="${rib.imgFiles}" class="form-group">
					<div class="col-sm-2">
						<img th:if="${rib.imgFiles['fileInput1']}" th:field="*{imgFiles['fileInput1']}" id="postNail1" th:src="@{getImgFile/fileInput1}" style="height:50px;width:50px"></img>
					</div><div class="col-sm-2">
						<img th:if="${rib.imgFiles['fileInput2']}" th:field="*{imgFiles['fileInput2']}" id="postNail2" th:src="@{getImgFile/fileInput2}" style="height:50px;width:50px"></img>	
					</div><div class="col-sm-2">
						<img th:if="${rib.imgFiles['fileInput3']}" th:field="*{imgFiles['fileInput3']}" id="postNail3" th:src="@{getImgFile/fileInput3}" style="height:50px;width:50px"></img>	
					</div><div class="col-sm-2">
						<img th:if="${rib.imgFiles['fileInput4']}" th:field="*{imgFiles['fileInput4']}" id="postNail4" th:src="@{getImgFile/fileInput4}" style="height:50px;width:50px"></img>	
					</div><div class="col-sm-2">
						<img th:if="${rib.imgFiles['fileInput5']}" th:field="*{imgFiles['fileInput5']}" id="postNail5" th:src="@{getImgFile/fileInput5}" style="height:50px;width:50px"></img>
					</div>
				</div>
				
	
			</form>
		</div>
	</div>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!--<script th:src="@{js/fileUpload.js}" type="text/javascript"></script>-->
</main>
</body>
</html>
