<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/layout">
<head>
	
	<link href='css/gigadiv.css' rel='stylesheet' />
	<link href='css/form.css' rel='stylesheet' />
    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin:  10px;
			padding: 10px;
			height:  900px;
			width:   600px;
		}
    </style>
	
	<script type="text/javascript">

		var todo_global_js_ok_or_no;
		function onFileSelected(event) {
			
			var selectedFile = event.srcElement.files[0];
			var reader = new FileReader();
			var imgtag = document.getElementById(todo_global_js_ok_or_no);
			imgtag.title = selectedFile.name;
			imgtag.src = selectedFile.name;
			reader.onload = function(event) {
			  imgtag.src = event.target.result;
			};
			reader.readAsDataURL(selectedFile);					
		}
	
		function chooseFile(imgNum) {
			
			todo_global_js_ok_or_no = 'postNail' + imgNum;
			$("#fileInput" +imgNum).click();
		}
	
	</script>
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">		
<div id="container" class="card">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">				
			<h3 th:text="#{giga.appname}"></h3><br/>	
			<h5 th:text="#{giga.INeedSomeoneTo}"></h5>	
			<form id="file-form" role="form" method="POST" 
				enctype="multipart/form-data" th:object="${rib}" th:action="@{/confirmSubmitRib}">
				
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" /> 
				<div class="form-group">
				  <input list="categories" th:field="*{tags[0]?.id}" class="form-control" placeholder="!Help me lift a.." />
				  <datalist id="categories">
				    <option value="!Help me lift a.." />
				    <option value="!Move a.." />
				    <option value="!Deliver.." />
				    <option value="!Give me a ride to.." />
				    <option value="!Fix my.." />
				    <option value="!Clean my.." />
				    <option value="!Work on my crew.." />
				  </datalist>	
				</div>
				<div class="form-group">
					<input type="text" th:field="*{tags[0]?.name}" class="form-control"  th:placeholder="with..." id="title" name="title" />
				
					<a href="#"><i class="material-icons">room</i>Current Location</a>
					<input type="hidden" th:field="${loc.latitude}" id="loclat"/>
					<input type="hidden" th:field="${loc.longitude}" id="loclon"/>	
					<script th:inline="javascript">

						 console.log("LATITUDE LONGITUDE");
						 navigator.geolocation.getCurrentPosition(assignPosition);
						 function assignPosition(pos){
							 console.log(pos.coords.latitude);
							 console.log(pos.coords.longitude); 
							 document.getElementById("loclat").value = pos.coords.latitude;
							 console.log($('loclat').val());
							 document.getElementById("loclon").value = pos.coords.longitude;
							 console.log($('loclon').val());
						 }

					</script>					
				</div>
				<div class="form-group">
					<textarea th:field="*{description}" class="form-control" th:placeholder="#{giga.AddDetails}"></textarea> 
					<input type="text" th:field="*{title}" class="form-control" th:placeholder="#{giga.AdditionalBangTags}" />
				</div>
				<div class="form-group">
					<label for="timeSpan" th:text="#{giga.EstimatedTime}"></label>
					<input type="number" id="timeSpan" th:field="*{estimatedTime.timeSpan}" class="form-control" placeholder="1"/>
					  <input list="timeMetrics" th:field="*{estimatedTime.timeMetric}" class="form-control" placeholder="mins" />
					  <datalist id="timeMetrics">
					    <option value="mins" />
					    <option value="hours" />
					    <option value="days" />
					  </datalist>							

					<span th:text="#{giga.BasePay}"></span>
					<input type="text" th:field="*{basePay.wage}" class="form-control"/>
					<span th:text="#{giga.Per}"></span>
					
					  <input list="per" th:field="*{basePay.per}" class="form-control" placeholder="job" />
					  <datalist id="per">
					    <option value="job" />
					    <option value="item" />
					    <option value="hour" />
					  </datalist>	
				</div>
				<div style="float: left;">
					<div style="height:0px;width:0px;overflow:hidden;float: left;">
					   <input type="file" onchange="onFileSelected(event)" id="fileInput1" name="fileInput1" />
					</div>
					<a href="#" onclick="chooseFile(1)"><i class="material-icons">camera_alt</i></a>
				</div><div style="float: left;">
					<div style="height:0px;width:0px;overflow:hidden">
					   <input type="file" onchange="onFileSelected(event)" id="fileInput2" name="fileInput2" />
					</div>
					<a href="#" onclick="chooseFile(2)"><i class="material-icons">camera_alt</i></a>																				
				</div><div style="float: left;">
					<div style="height:0px;width:0px;overflow:hidden">
					   <input type="file" onchange="onFileSelected(event)" id="fileInput3" name="fileInput3" />
					</div>							
					<a href="#" onclick="chooseFile(3)"><i class="material-icons">camera_alt</i></a>																					
				</div><div style="float: left;">
					<div style="height:0px;width:0px;overflow:hidden">
					   <input type="file" onchange="onFileSelected(event)" id="fileInput4" name="fileInput4" />
					</div>									
					<a href="#" onclick="chooseFile(4)"><i class="material-icons">camera_alt</i></a>																					
				</div><div style="float: left;">
					<div style="height:0px;width:0px;overflow:hidden">
					   <input type="file" onchange="onFileSelected(event)" id="fileInput5" name="fileInput5" />
					</div>									
					<a href="#" onclick="chooseFile(5)"><i class="material-icons">camera_alt</i></a>																				
				</div><div style="float: left;">																				
			        <button type="submit" name="save" th:text="#{giga.Post}" class="btn btn-sm btn-primary badge">Post</button>				
				</div>
				
				<br/>
				<hr/>
				
				<div style="float: left;">
					<img th:field="*{imgFiles['fileInput1']}" id="postNail1" th:src="@{getImgFile/fileInput1}" style="height:50px;width:50px"></img>
					<img th:field="*{imgFiles['fileInput2']}" id="postNail2" th:src="@{getImgFile/fileInput2}" style="height:50px;width:50px"></img>	
					<img th:field="*{imgFiles['fileInput3']}" id="postNail3" th:src="@{getImgFile/fileInput3}" style="height:50px;width:50px"></img>	
					<img th:field="*{imgFiles['fileInput4']}" id="postNail4" th:src="@{getImgFile/fileInput4}" style="height:50px;width:50px"></img>	
					<img th:field="*{imgFiles['fileInput5']}" id="postNail5" th:src="@{getImgFile/fileInput5}" style="height:50px;width:50px"></img>
				</div>		
			</form>
		</div>
	</div>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!--<script th:src="@{js/fileUpload.js}" type="text/javascript"></script>-->
</main>
</body>
</html>
