<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<link href='css/form.css' rel='stylesheet' />
	<link href='css/gigadiv.css' rel='stylesheet' />

    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin:  10px;
			padding: 10px;
			height:  600px;
			width:   400px;
		}
    </style>	
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">
	<div id="container" class="card">
		<table class="table">

			<tr> 
				<td><label for="name" th:text="#{giga.Name}"></label></td>
			  	<td th:text="${clientProfile.name}" id="name" ></td>
			</tr><tr>
			  	<td><label for="firstName" th:text="#{giga.FirstName}"></label></td>
			  	<td th:text="${clientProfile.firstName}" id="firstName"></td>
			</tr><tr>
			  	<td><label for="lastName" th:text="#{giga.LastName}"></label></td>
			  	<td th:text="${clientProfile.lastName}" id="lastName"> </td>								
			</tr><tr>
			  	<td><label for="email" th:text="#{giga.Email}"></label></td>
			  	<td th:text="${clientProfile.email}" id="lastNameemail"> </td>								
			</tr>
		</table>			

	</div>
</main>

</body>
</html>
