<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="#{gig.appname}">App Name</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="icon" sizes="192x192" href="images/android-desktop.png" />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Material Design Lite" />
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png" />

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png" />
    <meta name="msapplication-TileColor" content="#3372DF" />

    <link rel="shortcut icon" href="images/favicon.png" />

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />		
	<!-- Optional theme -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="css/material.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
	<!--[if lt IE 9]>
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
	<![endif]-->
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />

   	<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" th:href="@{/css/jobyjobmap.css}" type="text/css" media="screen"></link>
		
    <script src="js/gigascript.js"></script>
	</head>
	<body>
	<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<div th:replace="fragments/header :: header"> </div>		
		<div th:replace="fragments/leftnav :: leftnav"> </div>
		
		<div id="content" layout:fragment="content">
			Content goes here
		</div>	
	</div>

    <script src="js/material.min.js"></script>
    
    <th:block>			
	
		<!-- SCRIPTS -->	
		<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		
		<script th:inline="javascript">
		if ( $( "#gigamap" ).length ){
			L.mapbox.accessToken = 'pk.eyJ1Ijoic2FtdWVsc2VnYWwiLCJhIjoiY2lmenN0dGJkNjNnNXV3a3I3cjB4ODhuYSJ9.VK6fL73lai0a3oTJ4ndu-w';
		    var map = L.mapbox.map('gigamap', 
		    		'samuelsegal.cifzsts6p62detglytdi46jvc');
		    map.setZoom(10);
		    L.control.locate().addTo(map);
		    /*<![CDATA[*/
		    
			    var data = /*[[${postsAsJSON}]]*/ null;  
				var json = JSON.parse(data);
				var jsonContent = json.content;
				console.log("JSON" + JSON.stringify(json));
				console.log("content length: " + jsonContent.length);
				for(var i = 0; i < jsonContent.length; i++){
					L.marker([jsonContent[i].location.lat,jsonContent[i].location.lon])
					 .addTo(map)
					 .bindPopup("<b>"+jsonContent[i].title + "</b><br/>" +
							 "Location (lat / lon): " + 
							 jsonContent[i].location.lat + " / " +
							 jsonContent[i].location.lon)
							 .openPopup();
				}			    
			    
		    /*]]>*/
		}
		</script>  
		
		<script type="text/javascript">
		if ( $( "#postLocationMap" ).length ){
			L.mapbox.accessToken = 'pk.eyJ1Ijoic2FtdWVsc2VnYWwiLCJhIjoiY2lmenN0dGJkNjNnNXV3a3I3cjB4ODhuYSJ9.VK6fL73lai0a3oTJ4ndu-w';
			var map = L.mapbox.map('postLocationMap', 
					'samuelsegal.cifzsts6p62detglytdi46jvc');
			L.control.locate().addTo(map);
			map.setZoom(10);
			//L.control.locate().addTo(map);
			//Initialize the geocoder control and add it to the map.
			var geocoderControl = L.mapbox.geocoderControl('mapbox.places', {autocomplete: true});
			geocoderControl.addTo(map);
			
			// Listen for the `found` result and display the first result
			// in the output container. For all available events, see
			// https://www.mapbox.com/mapbox.js/api/v2.2.2/l-mapbox-geocodercontrol/#section-geocodercontrol-on
			var output = document.getElementById('displayLocation');
			geocoderControl.on('found', function(res) {
			    output.innerHTML = JSON.stringify(res.results.features[0].geometry.coordinates);
			});
			geocoderControl.on('select', function(res) {
				console.dir("res: " + res.feature);
			    output.innerHTML = res.feature.place_name;
			    var lat = res.feature.geometry.coordinates[1];
			    var lon = res.feature.geometry.coordinates[0];
				document.getElementById("loclat").value = lat;
				document.getElementById("loclon").value = lon;
				var postTitle = $('#postForm #title');
				console.dir(postTitle.val());
				L.marker([lat,lon]).addTo(map).bindPopup(
						"<b>" + postTitle.val() + "</b><br/>" +
						 "Location (lat / lon): " + 
						 lat + " / " + lon)
						 .openPopup();;
			});
		}
		</script>	
	</th:block>
	
	</body>
</html>
