<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<link href='css/form.css' rel='stylesheet' />
</head>
<body>
	<main layout:fragment="content"
		class="mdl-layout__content mdl-color--grey-100">

	<div id="container">
		<div class="row">
			<div class="col-md-12"><br /></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
<h3>TODO:</h3>
<hr/>			
<pre>
Provider set up rules:
Set up / verify account to accept payment.
Choose default marker icon.
Manage Jobs accepted
View client posts.
Send message to client.
Show your self as currently available.
Manage availability  schedule.
</pre>
				<br/>	
				<hr/>
				<form method="POST" th:action="@{/signout}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
					<button th:text="#{giga.signout}">Sign Ouuut</button>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	</main>

</body>
</html>
