<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/layout">
<head>
	
	<link th:href="@{css/gigadiv.css}" rel='stylesheet' />
	<link th:href="@{css/form.css}" rel='stylesheet' />
    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin:  10px;
			padding: 10px;
			height:  900px;
			width:   500px;
		}
    </style>
	<script src="js/gigafile.js"></script>
	
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">		
	<div id="container" class="card">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">	
										
				<h3 th:text="#{giga.provider.profile}"></h3>
				<hr />		
											

				<form id="file-form" role="form" method="POST" 
					enctype="multipart/form-data" th:object="${gigaProvider}"
					th:action="@{/updateProviderProfile}" class="form-horizontal">
				
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" /> 
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" th:field="*{title}" class="form-control" th:placeholder="#{giga.EnterTitle}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<textarea th:field="*{description}" class="form-control" th:placeholder="#{giga.EnterDescription}"></textarea> 
						</div>
					</div>
					<div class="form-group">	
						<div class="col-sm-12">
							<a href="#" onclick="getLocation()"><i class="material-icons">room</i>Current Location</a>
							<div id="displayLocation"></div>
							<input type="hidden" th:field="${loc.latitude}" id="loclat"/>
							<input type="hidden" th:field="${loc.longitude}" id="loclon"/>	
							<input type="hidden" th:field="${gigaProvider.formattedAddress}" id="formattedAddress"/>
						</div>				
					</div>
					
				<div class="form-group">
					<div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden;float: left;">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput1" name="fileInput1" />
						</div>
						<a href="#" onclick="chooseFile(1)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>
					</div><div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput2" name="fileInput2" />
						</div>
						<a href="#" onclick="chooseFile(2)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																				
					</div><div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput3" name="fileInput3" />
						</div>							
						<a href="#" onclick="chooseFile(3)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																					
					</div><div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput4" name="fileInput4" />
						</div>									
						<a href="#" onclick="chooseFile(4)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																					
					</div><div class="col-sm-2">
						<div style="height:0px;width:0px;overflow:hidden">
						   <input type="file" onchange="onFileSelected(event)" id="fileInput5" name="fileInput5" />
						</div>									
						<a href="#" onclick="chooseFile(5)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																				
					</div>
				</div>

				
				<div class="form-group">
					<div class="col-sm-2">
						<img th:field="*{imgFiles['fileInput1']}" id="postNail1" th:src="@{getProviderImgFile/fileInput1}" style="height:50px;width:50px"></img>
					</div><div class="col-sm-2">
						<img th:field="*{imgFiles['fileInput2']}" id="postNail2" th:src="@{getProviderImgFile/fileInput2}" style="height:50px;width:50px"></img>	
					</div><div class="col-sm-2">
						<img th:field="*{imgFiles['fileInput3']}" id="postNail3" th:src="@{getProviderImgFile/fileInput3}" style="height:50px;width:50px"></img>	
					</div><div class="col-sm-2">
						<img th:field="*{imgFiles['fileInput4']}" id="postNail4" th:src="@{getProviderImgFile/fileInput4}" style="height:50px;width:50px"></img>	
					</div><div class="col-sm-2">
						<img th:field="*{imgFiles['fileInput5']}" id="postNail5" th:src="@{getProviderImgFile/fileInput5}" style="height:50px;width:50px"></img>
					</div>
				</div>
				
				<div class="form-group">	
					<div class="col-sm-6">																			
				        <button type="submit" th:text="#{giga.Update}" 
				        	class="form-control btn btn-sm btn-primary badge">
				        	Update
				        </button>
			        </div>	
			    </div>	
			</form>
			
			
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</main>
</body>
</html>
