<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/layout">
<head>
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />

	<link th:href="@{css/gigadiv.css}" rel='stylesheet' />
	<link th:href="@{css/form.css}" rel='stylesheet' />
	<link th:href="@{css/address-auto-complete.css}" rel='stylesheet' />
    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin:  10px;
			padding: 10px;
			height:  900px;
			width:   500px;
		}
    </style>
	<script src="js/gigafile.js"></script>
	
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">		
	<div id="container" class="card">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">	
										
				<h3 th:text="#{giga.provider.profile}"></h3>
				<hr />		
											
				<form id="file-form" role="form" method="POST" 
					enctype="multipart/form-data" th:object="${gigaProvider}"
					th:action="@{/updateProviderProfile}" class="form-horizontal">
				
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" /> 
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" th:field="*{title}" class="form-control" th:placeholder="#{giga.EnterTitle}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<textarea th:field="*{description}" class="form-control" th:placeholder="#{giga.EnterDescription}"></textarea> 
						</div>
					</div>
					<div class="form-group">	
						<div class="col-sm-12">
							<a href="#" onclick="getLocation()"><i class="material-icons">room</i>Current Location</a>
							
							<input type="hidden" th:field="${loc.latitude}" id="loclat"/>
							<input type="hidden" th:field="${loc.longitude}" id="loclon"/>	
	
						</div>				
					</div>
					<div>				
					    <div id="locationField">
					      <input th:field="${gigaProvider.formattedAddress}" id="autocomplete" placeholder="Enter your address"
					             onFocus="geolocate()" type="text"></input>
					    </div>
					
					    <table id="address">
					      <tr>
					        <td class="label">Street address</td>
					        <td class="slimField">
					        	<input th:field="${loc.streetNum}" class="field" id="street_number" disabled="true"></input>
					        </td>
					        <td class="wideField" colspan="2">
					        	<input th:field="${loc.streetName}" class="field" id="route" disabled="true"></input>
					        </td>
					      </tr>
					      <tr>
					        <td class="label">City</td>
					        <td class="wideField" colspan="3">
					        	<input th:field="${loc.city}" class="field" id="locality" disabled="true"></input>
					        </td>
					      </tr>
					      <tr>
					        <td class="label">State</td>
					        <td class="slimField">
					        	<input th:field="${loc.state}" class="field" id="administrative_area_level_1" disabled="true"></input>
					        </td>
					        <td class="label">Zip code</td>
					        <td class="wideField">
					        	<input th:field="${loc.postal_code}" class="field" id="postal_code" disabled="true"></input>
					        </td>
					      </tr>
					      <tr>
					        <td class="label">Country</td>
					        <td class="wideField" colspan="3">
					        	<input th:field="${loc.country_code}" class="field" id="country" disabled="true"></input>
					        </td>
					      </tr>
					    </table>				
					</div>				

					
					<div class="form-group">
						<div class="col-sm-2">
							<div style="height:0px;width:0px;overflow:hidden;float: left;">
							   <input type="file" onchange="onFileSelected(event)" id="fileInput1" name="fileInput1" />
							</div>
							<a href="#" onclick="chooseFile(1)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>
						</div><div class="col-sm-2">
							<div style="height:0px;width:0px;overflow:hidden">
							   <input type="file" onchange="onFileSelected(event)" id="fileInput2" name="fileInput2" />
							</div>
							<a href="#" onclick="chooseFile(2)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																				
						</div><div class="col-sm-2">
							<div style="height:0px;width:0px;overflow:hidden">
							   <input type="file" onchange="onFileSelected(event)" id="fileInput3" name="fileInput3" />
							</div>							
							<a href="#" onclick="chooseFile(3)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																					
						</div><div class="col-sm-2">
							<div style="height:0px;width:0px;overflow:hidden">
							   <input type="file" onchange="onFileSelected(event)" id="fileInput4" name="fileInput4" />
							</div>									
							<a href="#" onclick="chooseFile(4)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																					
						</div><div class="col-sm-2">
							<div style="height:0px;width:0px;overflow:hidden">
							   <input type="file" onchange="onFileSelected(event)" id="fileInput5" name="fileInput5" />
							</div>									
							<a href="#" onclick="chooseFile(5)"><i class="material-icons" style="font-size:48px;color:black;">camera_alt</i></a>																				
						</div>
					</div>
	
					
					<div class="form-group">
						<div class="col-sm-2">
							<img th:field="*{imgFiles['fileInput1']}" id="postNail1" th:src="@{getProviderImgFile/fileInput1}" style="height:50px;width:50px"></img>
						</div><div class="col-sm-2">
							<img th:field="*{imgFiles['fileInput2']}" id="postNail2" th:src="@{getProviderImgFile/fileInput2}" style="height:50px;width:50px"></img>	
						</div><div class="col-sm-2">
							<img th:field="*{imgFiles['fileInput3']}" id="postNail3" th:src="@{getProviderImgFile/fileInput3}" style="height:50px;width:50px"></img>	
						</div><div class="col-sm-2">
							<img th:field="*{imgFiles['fileInput4']}" id="postNail4" th:src="@{getProviderImgFile/fileInput4}" style="height:50px;width:50px"></img>	
						</div><div class="col-sm-2">
							<img th:field="*{imgFiles['fileInput5']}" id="postNail5" th:src="@{getProviderImgFile/fileInput5}" style="height:50px;width:50px"></img>
						</div>
					</div>
					
					<div class="form-group">	
						<div class="col-sm-6">																			
					        <button type="submit" th:text="#{giga.Update}" 
					        	class="form-control btn btn-sm btn-primary badge">
					        	Update
					        </button>
				        </div>	
				    </div>	
				</form>			
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="js/address-auto-complete.js"></script>	
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC8gwbO-U2QwEIM-8cs0DFiGBuj_c4QwY&#38;signed_in=true&#38;libraries=places&#38;callback=initAutocomplete"></script>

</main>

</body>
</html>
