<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
	<link href='css/form.css' rel='stylesheet' />
	<link href='css/gigadiv.css' rel='stylesheet' />
    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin: 10px;
			padding: 10px;
			height: 600px;
		}
    </style>
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">
	<div id="container" class="card">
		<div class="row">
			<div class="col-md-12"><br /></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6">
				
				<img th:src="${gigauserconnection.imageUrl}" class="demo-avatar" />
				
				<span th:text="${gigauser.name}" class="mdl-color-text--blue-grey-400">name</span>
				<table class="table">
					<thead>
						<tr>
							<td><h3><span th:text="#{giga.Poster}"></span></h3></td>
						</tr>
					</thead>
					<tr> 
						<td><label for="name" th:text="#{giga.Name}"></label></td>
					  	<td th:text="${gigaProvider.providerName}" id="name" ></td>
					</tr><tr>
					  	<td><label for="firstName" th:text="#{giga.FirstName}"></label></td>
					  	<td th:text="${gigaProvider.title}" id="firstName"></td>
					</tr><tr>
					  	<td><label for="lastName" th:text="#{giga.LastName}"></label></td>
					  	<td th:text="${gigaProvider.description}" id="lastName"> </td>								
					</tr>
				</table>
				
				<br />
				<hr />				
				
				<form method="GET" th:action="@{/editProviderProfile}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
					<button type="submit" th:text="#{giga.profile.edit}" class="btn btn-sm btn-primary badge"></button>
				</form>
				<form method="POST" th:action="@{/signout}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
					<button th:text="#{giga.signout}" class="btn btn-sm btn-primary badge">Sign Out</button>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</main>

</body>
</html>
