<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/layout">

<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">		
<div id="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">			
	
			<form method="POST" th:object="${post}" th:action="@{/postRibSubmit}" id="postForm" class="" role="form">
				<fieldset>			
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<table class="table">
					<thead>
						<tr><td>
						<h5 th:text="#{giga.appname}"></h5>
						</td></tr>
					</thead>
					<tbody>
						<tr>
							<td>
							  <input list="categories" th:field="*{tag?.name}" />
							  <datalist id="categories">
							    <option value="!Help me lift a.." />
							    <option value="!Move a.." />
							    <option value="!Deliver.." />
							    <option value="!Give me a ride to.." />
							    <option value="!Fix my.." />
							    <option value="!Clean my.." />
							    <option value="!Work on my crew.." />
							  </datalist>	
							</td>
							<td>
								<input type="text" th:field="*{title}" th:placeholder="with..." id="title" name="title" />
							</td>
						</tr><tr>
							<td></td>
							<td>
								<button type="button" onclick="getLocation()" th:text="#{giga.UseCurrentLocation}"></button>
							</td>
							  <input type="hidden" th:field="${loc.latitude}" id="loclat"/>
							  <input type="hidden" th:field="${loc.longitude}" id="loclon"/>	
							
								<script th:inline="javascript">
		
									 console.log("LATITUDE LONGITUDE");
									 navigator.geolocation.getCurrentPosition(assignPosition);
									 function assignPosition(pos){
										 console.log(pos.coords.latitude);
										 console.log(pos.coords.longitude); 
										 document.getElementById("loclat").value = pos.coords.latitude;
										 console.log($('loclat').val());
										 document.getElementById("loclon").value = pos.coords.longitude;
										 console.log($('loclon').val());
									 }
			
								</script>	
						</tr><tr>
							<td>
							</td>
							<td>
								<textarea th:field="*{description}" th:placeholder="Enter additional details here..."/> 
							</td>
						</tr><tr>
							<td></td>
							<td>
								<input type="text" th:placeholder="with..." />
							</td>
						</tr><tr>
							<td colspan="2">
							
							</td>
						</tr><tr>																	
							<td>
						        <div class="submit">
						          <button type="submit" name="save" th:text="#{giga.Post}">Post</button>
						        </div>						
							</td>
						</tr>				
					</tbody>
				</table>
				</fieldset>
				
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
</main>
</body>
</html>
