# Maven
target/

# IntelliJ
*.iml
.idea/

# Eclipse
.project
.classpath
.settings/
bin/
.metadata
.externalToolBuilders/
.gradle/2.7/
.springBeans

# JRebel
rebel.xml

# OSX
.DS_Store

/bin/
/build/
/data/
/target/
/src/main/resources/application.properties
