<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<link href='css/form.css' rel='stylesheet' />
	<link href='css/gigadiv.css' rel='stylesheet' />
	
    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin:  10px;
			padding: 10px;
			height:  600px;
			width:   500px;
		}
    </style>	
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">
<div id="container" class="card">
	<div class="row">
		<div class="col-md-12"><br /></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">	
			<form th:method="POST" th:action="@{/updateProfile}" 
				th:object="${gigauser}" class="form-horizontal">				
				<div class="form-group">
					<label th:text="#{giga.UserName}"></label>
					<input th:field="*{username}" class="form-control"/>
				</div>
				<div class="form-group">
					<label th:text="#{giga.CompanyName}"></label>
					<input th:field="*{name}" class="form-control"/>
				</div>
				<div class="form-group">
					<label th:text="#{giga.FirstName}"></label>
					<input th:field="*{firstName}" class="form-control"/>
				</div>
				<div class="form-group">
					<label th:text="#{giga.LastName}"></label>
					<input th:field="*{lastName}" class="form-control"/>
				</div>
				<div class="form-group">
					<label th:text="#{giga.Email}"></label>
					<input th:field="*{email}" class="form-control"/>
				</div> 							
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button type="submit" th:text="#{giga.Update}" class="btn btn-sm btn-primary badge"></button>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
</main>

</body>
</html>
