<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<link href='css/form.css' rel='stylesheet' />
	<link href='css/gigadiv.css' rel='stylesheet' />

    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin:  10px;
			padding: 10px;
			height:  600px;
			width:   500px;
		}
    </style>	
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">
<div id="container" class="card">
	<div class="row">
		<div class="col-md-12"><br /></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form method="POST" th:action="@{/updateProfile}" th:object="${gigauser}" >				
				<table class="table">
					<thead>
					<tr>
						<td><img th:src="${gigauserconnection} ? ${gigauserconnection.imageUrl} : @{images/user.jpg}" class="demo-avatar"/>
						</td>
						<td><h5><span th:text="${gigauserconnection.displayName}" class="mdl-color-text--blue-grey-400">user name</span>
						</h5></td>
					</tr>
					</thead>					
					<tr> 
						<td><label for="name" th:text="#{giga.Name}"></label></td>
					  	<td><input th:field="*{name}" id="name" /></td>
					</tr><tr>
					  	<td><label for="firstName" th:text="#{giga.FirstName}"></label></td>
					  	<td><input th:field="*{firstName}" id="firstName" /></td>
					</tr><tr>
					  	<td><label for="lastName" th:text="#{giga.LastName}"></label></td>
					  	<td><input th:field="*{lastName}" id="lastName" /> </td>								
					</tr><tr>
					  	<td><label for="email" th:text="#{giga.Email}"></label></td>
					  	<td><input th:field="*{email}" id="email" /> </td>								
					</tr>
				</table>
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button type="submit" th:text="#{giga.Update}" class="btn btn-sm btn-primary badge"></button>
			</form>
		</div>
	</div>
</div>
</main>
</body>
</html>
