<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>


	<main layout:fragment="content"
		class="mdl-layout__content mdl-color--grey-100">

	<div id="container">
		<div class="row">
			<div class="col-md-12"><br /></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6">
				
				<img th:src="${fb_connection.imageUrl}" class="demo-avatar" />
				
				<span th:text="${gigauser.login}" class="mdl-color-text--blue-grey-400">username</span>
			
				<br />
				<hr />
				<div class="mdl-color-text--blue-400">
				Email: <span th:text="${gigauser.email}" >email</span><br /> 
				First Name: <span th:text="${gigauser.firstName}" >first name</span><br />
				Last Name: <span th:text="${gigauser.lastName}">last name</span><br />
				</div>
				<hr />
				<form method="GET" th:action="@{/editProfile}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
					<button type="submit" th:text="#{giga.profile.edit}"></button>
				</form>
				<form method="POST" th:action="@{/signout}">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
					<button>Sign Out</button>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

	</main>

</body>
</html>
