<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">

	<body>

			
		<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">
      		
			
			<p>
			User Name: <span th:text="${account.username}">username</span><br/>
			First Name: <span th:text="${account.firstName}">first-name</span><br/>
			Last Name: <span th:text="${account.lastName}">last-name</span><br/>	
			</p>
			
			<form method="GET" th:action="@{/table}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button>TABLE</button>
			</form>			
			<form method="POST" th:action="@{/signout}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button>Sign Out</button>
			</form>
			</main>
	
	

	
	</body>
</html>
