<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<link href='css/form.css' rel='stylesheet' />
	<link href='css/gigadiv.css' rel='stylesheet' />

    <style type="text/css">
	    .custom {
	    	width: 278px !important;
		}
		.card{
			margin: 10px;
			padding: 10px;
			height: 600px;
		}
    </style>	
</head>
<body>
	<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">

		<div id="container">

		  <div class="card">

			<form method="GET" th:action="@{/editProfile}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button type="submit" class="btn btn-sm btn-primary badge" th:text="#{giga.profile.edit}"></button>
			</form>	
			
			<form th:if="${gigauser.roles.contains('ROLE_CLIENT')} != true" method="POST" th:action="@{/assignRole}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button th:text="#{giga.profile.client.signup}" class="btn btn-sm btn-primary badge" name="roleParam" value="ROLE_CLIENT">Sign UP ClyBy</button>			
			</form>	
			<form th:if="${gigauser.roles.contains('ROLE_PROVIDER')} != true" method="POST" th:action="@{/assignRole}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />				
				<button th:text="#{giga.profile.provider.signup}" class="btn btn-sm btn-primary badge" name="roleParam" value="ROLE_PROVIDER">Sign Up And PRo Ride</button>
			</form>		
			
			<br />
			<hr />
				
			<table class="table">
				<thead>
					<tr>
						<td>
							<img th:src="${gigauserconnection} ? ${gigauserconnection.imageUrl} : @{images/user.jpg}" class="demo-avatar"/>
						</td>
						<td><h5>
							<span th:text="${gigauserconnection.displayName}" class="mdl-color-text--blue-grey-400">user name</span>
						</h5></td>
					</tr>
				</thead>
				<tr> 
					<td><label for="userName" th:text="#{giga.UserName}"></label></td>
				  	<td th:text="${gigauser.username}" id="userName" ></td>
				</tr><tr>
				  	<td><label for="firstName" th:text="#{giga.FirstName}"></label></td>
				  	<td th:text="${gigauser.firstName}" id="firstName"></td>
				</tr><tr>
				  	<td><label for="lastName" th:text="#{giga.LastName}"></label></td>
				  	<td th:text="${gigauser.lastName}" id="lastName"> </td>								
				</tr><tr>
				  	<td><label for="email" th:text="#{giga.Email}"></label></td>
				  	<td th:text="${gigauser.email}" id="email"> </td>								
				</tr>
			</table>	
			
			<br/>
			<hr/>
			
			<form th:if="${gigauser.roles.contains('ROLE_PROVIDER')} == true" method="GET" th:action="@{/providerProfile}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />				
				<button th:text="#{giga.provider.profile}" class="btn btn-sm btn-primary badge" name="roleParam" value="ROLE_PROVIDER">Sign Up And PRo Ride</button>
			</form>		

			<br/>		
			<hr/>
						
			<form th:if="${gigauser.roles.contains('ROLE_CLIENT')} == true" method="GET" th:action="@{/managePosts}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />				
				<button th:text="#{giga.ManagePosts}" class="btn btn-sm btn-primary badge" name="roleParam" value="ROLE_PROVIDER">Sign Up And PRo Ride</button>
			</form>	
			
			<br/>		
			<hr/>
							
			<form method="POST" th:action="@{/signout}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button class="btn btn-sm btn-primary badge" th:text="#{giga.signout}">Sign Ouuut</button>
			</form>      

			</div>
		</div>
	</main>

</body>
</html>
