<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
		
</head>
<body>
<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">
	<div id="container">
		<div class="row">	
		<div class="col-md-2"></div>
			<div class="col-md-8">
			<form th:action="@{/table}">
				<label for="distance">Distance from current location: </label> 
				<input type="text" id="distance" name="distance" />
			</form>

			<table id="myTableId" dt:table="true" dt:theme="bootstrap3" dt:displayLength="5"
				dt:export="pdf,csv" class="table table-condensed">
				<thead>
					<tr>
						<th th:text="#{giga.Title}">Title</th>
						<th th:text="#{giga.Description}">Desc</th>
						<th th:text="#{giga.Poster}">! A Poster</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${posts}">
						<td><a th:href="@{/viewPost(postid=${post?.id})}" th:text="${post?.title}"></a></td>
						<td th:text="(${post?.description} != null) ? ${post?.description} : null"></td>
						<td th:text="(${post?.clientName} != null) ? ${post?.clientName} : null"></td>
					</tr>
				</tbody>
			</table>

			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="gigamap" style="height: 180px">			
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</main>
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>