<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
		
</head>
<body>
	<main layout:fragment="content" class="mdl-layout__content mdl-color--grey-100">
	<div id="container">
		<div class="row">	
		<div class="col-md-2"></div>
			<div class="col-md-8">

			<div class="span12">
				<table id="myTableId" dt:table="true" dt:theme="bootstrap3" dt:displayLength="5"
					dt:export="pdf,csv" class="table">
					<thead>
						<tr>
							<th th:text="#{giga.Title}">Provider</th>
							<th th:text="#{giga.Description}">Description</th>
							<th th:text="#{giga.Provider}">User</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="gigaProvider : ${gigaProviders}">
							<td><a th:href="@{/viewProviderProfile(userid=${gigaProvider?.userId})}" th:text="${gigaProvider?.title}"></a></td>
							<td th:text="(${gigaProvider?.description} != null) ? ${gigaProvider?.description} : null"></td>
							<td th:text="(${gigaProvider?.providerName} != null) ? ${gigaProvider?.providerName} : null"></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
			<div class="col-md-2"></div>
		</div>

		</div>
	</main>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>