

 <!-- FOOTER
    ================================================== -->
    <footer th:fragment="footer" class="mdl-mega-footer">


       <div class="mdl-mega-footer__bottom-section">
		<div class="mdl-mega-footer__right-section">
		        <p class="footer-links">
		          <a th:href="@{/login}">LOGIN</a>
		          <a th:href="@{/login}">ABOUT</a>
		          <a th:href="@{/login}">FAQ</a>
		          <a th:href="@{/login}">CONTACT</a>
		          </p>
		
		</div>
      </div>
     </footer>
     
