
<!-- FOOTER
    ================================================== -->
<div th:fragment="footer">
 <!-- FOOTER
    ================================================== -->
    <footer class="footer-distributed">

      <div class="footer-right">

        <a href="http://www.facebook.com/damn.segal"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="https://instagram.com/luluandcocointeriors"><i class="fa fa-instagram fa-2x"></i></a>

      </div>

      <div class="footer-left">


      </div>
     </footer>

</div>
  